#[temperature_sensor enclosure_temp]
#sensor_type: temperature_host
#sensor_path: /sys/bus/iio/devices/iio:device0/in_temp_input 
#min_temp: 10
#max_temp: 75

#[temperature_sensor enclosure_hum]
#sensor_type: temperature_host
#sensor_path: /sys/bus/iio/devices/iio:device0/in_humidityrelative_input


[temperature_sensor chassis]
sensor_type: dht22
#gcode_id: A
temp_path: /sys/bus/iio/devices/iio:device0/in_temp_input
humidity_path: /sys/bus/iio/devices/iio:device0/in_humidityrelative_input

[gcode_macro QUERY_DHT22]
gcode:
    {% set sensor = printer["dht22 chassis"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}

