[gcode_macro M204]
description: Set Acceleration
# Klipper accepts M204 S<value> OR M204 P<value> T<value> where both P and T must be specified
# PrusaSliser sends M204 P<value> without T and Klipper shows an error
# This macro makes M204 command more versatile
rename_existing: M204.1
gcode:
    {% set factor = params.F|default(0.5)|float %}
    {% if 'S' in params %}
        {% set ASSEL = params.S|default(0)|float %}
    {% else %}
        {% if 'P' in params %}
            {% if 'T' in params %}
                {% if P|int < T|int %}
                    {% set ASSEL = params.P|default(0)|float %}
                {% else %}
                    {% set ASSEL = params.T|default(0)|float %}
                {% endif %}
            {% else %}
                {% set ASSEL = params.P|default(0)|float %}
            {% endif %}
        {% elif 'T' in params %}
            {% set ASSEL = params.T|default(0)|float %}
        {% endif %}
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL={ASSEL} ACCEL_TO_DECEL={ASSEL*factor}
