#########################
### MAIN CONFIG FILES ###
#########################

[include config/machine.cfg]

### MCUs ###
[include config/mcus/skr_pico.cfg]
[include config/mcus/rpi.cfg]
[include config/mcus/lcd.cfg]

### Temperature sensors configuration ###
#[include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mainboard_temp.cfg]

### Heated bed configuration ###
[include config/hardware/heated_bed.cfg]

### Fans configuration ###
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/rpi_fan.cfg]

### XYZ axis configuration ###
[include config/hardware/X.cfg]
[include config/hardware/Y.cfg]
[include config/hardware/Z.cfg]

### Extruder configuration ###
[include config/hardware/extruder.cfg]

### Leds configuration ###
[include config/hardware/leds.cfg]

### Accelerometer configuration ###
[include config/hardware/accel.cfg]

[include config/hardware/filament_switch_sensor.cfg]

[firmware_retraction]
retract_length: 0.75
retract_speed: 50
unretract_extra_length: 0
unretract_speed: 50

[gcode_arcs]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.273125, -0.127500, -0.108125
#*# 	  -0.169375, 0.000000, 0.046875
#*# 	  0.133125, 0.098125, 0.015625
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 4.0
#*# max_x = 109.0
#*# min_y = 2.0
#*# max_y = 89.0
